
    <!-- Modal  -->
    <div id="simpleModal" class="modal modal-overlay">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Add a Study Note</h2>
                <span class="closeBtn btn-close"></span>
            </div>
            <div class="modal-body">
                <form action="/studies/createStudy" method='POST'>
                    <div class="add-note-input"> <input type="text" placeholder="Title" name='studyItem' class="w-100" maxlength="30"></div>
                    <div class="add-note-input"> Due Date: <input type="date" id="dueDate" name="dueDate"></div>

                    <div class="add-note-input"><textarea name="textArea" id="" cols="30" rows="10" class="w-100"
                    placeholder="Notes about study plan"></textarea></div>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>