    <%- include('partials/_header') -%>

    <!-- Section-->
    <section class="bg-dark py-5 mainSection">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">Study in a whole new way</h1>
                        <p class="lead text-white-50 mb-4">With Study Buddy, the days of missed deadlines, hurried assignments and general overwhelm with school work are over!</br>
                        Sign up now to manage your assignments and all deadlines in one place.</br>
                        Costs 9.99/mth (monopoly money accepted).</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/login">Sign In</a>
                            <a class="btn btn-outline-light btn-lg px-4" href="/signup">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/_footer') -%>