<<<<<<< Updated upstream
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Your VERY OWN Todolist!</h1>
    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>
</body>
</html>
=======
<%- include('includes/_header') %>
    <!-- Section-->
    <section class="bg-dark py-5 mainSection">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">Study in a whole new way</h1>
                        <p class="lead text-white-50 mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit!</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/login">Sign In</a>
                            <a class="btn btn-outline-light btn-lg px-4" href="/signup">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<%- include('includes/_footer') %>
>>>>>>> Stashed changes
