body {
  background: rgb(41, 39, 39);
  text-decoration: rgb(231, 236, 239);
}

/* Landing Page */
.mainSection {
    display: flex;
    flex-grow: 1;
}

.bodyFlex {
    display: flex;
    flex-direction: column;
}

/* Profile Section CSS */
.form-control:focus {
    box-shadow: none;
    border-color: #ba68c8;
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none;
}

.profile-button:hover {
    background: #682773;
}

.profile-button:focus {
    background: #682773;
    box-shadow: none;
}

.profile-button:active {
    background: #682773;
    box-shadow: none;
}

.back:hover {
    color: #682773;
    cursor: pointer;
}

.labels {
    font-size: 11px;
}

.add-experience:hover {
    background: #ba68c8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #ba68c8;
}

/* Studies */

.mark-complete,
.mark-incomplete,
.del {
    cursor: pointer;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}

.card {
    margin-bottom: 30px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.57rem;
}

.note-has-grid .single-note-item .card {
    border-radius: 10px;
}

.note-has-grid .single-note-item .side-stick {
    position: absolute;
    width: 3px;
    height: 35px;
    left: 0;
    background-color: rgba(82, 95, 127, 0.5);
}

@media (max-width: 767.98px) {
    .note-has-grid .single-note-item {
        max-width: 100%;
    }
}

@media (max-width: 991.98px) {
    .note-has-grid .single-note-item {
        max-width: 216px;
    }
}

/* input new note css temporary */
/* .studies-container {
    display: flex;
} */

.input-area {
    padding-top: 2rem;
}

/* modal css */
/* body{
    font-family: fantasy;
    font-size: 20px;
    line-height: 1.6;
  } */
  
  .button{
    /* background: #1ce; */
    background-color: var(--bs-blue);
    color: #fff;
    border:  0;
    border-radius: 50%;
    padding: 1%;
    width: 9rem;
    height: 4rem;
  }

  .add-note-text {
    text-shadow: 1.5px 1.5px black;
  }

  .modal-test {
    font-size: 1.2rem !important;
    font-weight: 900;
  }
  
  .button:hover{
    cursor: pointer;
  }
  
  .modal-overlay, .modal-overlay-card{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content{
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 50% !important;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  }
  
  .modal-header h2, .modal-footer h3{
    margin: 0;
  }
  
  .modal-header{
    background: var(--bs-blue);
    padding: 15px;
    color: #fff;
  }
  
  .modal-body{
    padding: 10px 20px;
  }
  
  .modal-footer{
    background: #1ce;
    padding: 10px;
    color: #fff;
    text-align: center;
  }
  
  .closeBtn{
    font-size: 30px;
    color: #fff;
    float: right;
  }
  
  .closeBtn:hover,.closeBtn:focus{
    color: #e439ef;
    text-decoration: none;
    cursor:  pointer;
  }

  .study-open-button{
    position: absolute;
    right: 13px;
  }